* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: monospace;
}

img {
    display: block;
    height: auto;
}

.site-main {
    flex-grow: 1;
}

.site-header {
    padding-top: 20px;
}

.site-header__menu {
    width: 18px;
    height: 18px;
    background-image: url("/images/menu.svg");
    background-repeat: no-repeat;
    background-color: none;
    border: none;
}

.nav {
    display: none;
    top: 80px;
    /* left: 70px; */
    max-width: 250px;
    width: 100%;
    border-radius: 10px;
    transform: translateX(55px);
}

.nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 7px;
    margin: 0;
    padding: 25px 0px 25px 0px;
}

.nav__link {
    font-size: 17px;
    line-height: 18px;
    font-weight: 600;
    color: #fff;
}

.hero__list {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}

.hero__items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 350px;
    width: 100%;
    margin: 0 auto;
    padding: 5px;
    box-shadow: 1px 2px 0 rgba(0,0,0,0.05);
    border-radius: 10px;
}

.hero__heading {
    font-size: 25px;
    font-weight: 700;
}

.hero__bookmark-btn {
    padding: 3px 15px !important;
    font-size: 14px;
}

.hero__img {
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.hero__title {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: bold;
}

.hero__textbox {
    max-width: 320px;
    width: 100%;
    margin: 0 auto;
}

.hero__text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 15px;
}

.hero__btn {
    padding: 5px 20px;
    font-size: 12px;
    color: #fff;
    border-radius: 5px;
}

.hero__price {
    font-size: 21px;
    line-height: 20px;
}

.modal-content {
    max-width: 320px;
    width: 100%;
    margin: 0 auto;
}

.modal-title {
    font-size: 20px;
}

.modal-list {
    list-style-type: decimal;
}

.pizza-name {
    margin: 0;
    font-size: 16px;
}

.pizza-price {
    margin: 0;
    font-size: 15px;
    font-weight: bold;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    overflow: hidden;
}







.main-wrapper {
    margin: 100px 0;
}

.heading {
    font-size: 27px;
}

.form {
    padding: 25px 5px !important;
    border: none;
}


input {
    width: 240px !important;
    margin-bottom: 15px;
    padding: 5px 15px;
    font-size: 14px !important;
    /* border: none; */
    border-radius: 5px;
}

.form__btn {
    width: 120px !important;
    padding: 5px;
    font-size: 14px;
}

.form__link {
    font-size: 15px;
    font-weight: 500;
}

@media only screen and (min-width: 400px) {
    .nav {
        transform: translateX(70px);
    }
}


@media only screen and (min-width: 450px) {
    .nav {
        transform: translateX(96px);
    }
}


@media only screen and (min-width: 600px) {
    .nav {
        max-width: 350px;
        width: 100%;
        transform: translateX(100px);
    }

    .nav__link {
        font-size: 19px;
    }
}

@media only screen and (min-width: 500px) {
    .site-header__location {
        display: block !important;
        padding: 5px 15px;
        border-radius: 6px;
    }
}

@media only screen and (min-width: 568px) {
    .site-header__tel {
        display: block !important;
        font-size: 15px;
    }

    .hero__heading {
        font-size: 27px;
    }

    input {
        width: 300px !important;
        padding: 7px 17px;
        font-size: 15px !important;
    }

    .form__link {
        font-size: 16px;
    }
}

@media only screen and (min-width: 768px) {
    .site-header__location {
        padding: 6px 20px;
    }

    .site-header__select {
        display: block !important;
        padding: 3px 7px;
        font-size: 14px;
        border-radius: 5px;
    }

    .nav {
        transform: translate(180px);
    }

    .hero__items {
        max-width: 340px;
        width: 100%;
        margin: 0;
    }

    .hero__heading {
        font-size: 28px;
    }

    .modal-content {
        max-width: 390px;
        width: 100%;
    }

    .pizza-name {
        font-size: 17px;
    }

    .pizza-price {
        font-size: 16px;
    }

    .heading {
        font-size: 32px;
    }
    
    input {
        width: 330px !important;
        padding: 7px 17px;
        font-size: 16px !important;
    }

    .form__btn {
        font-size: 15px;
    }

    .form__link {
        font-size: 17px;
    }
}

@media only screen and (min-width: 900px) {
    .hero__items {
        max-width: 340px;
        width: 100%;
    }
}


@media only screen and (min-width: 992px) {
    .logo-img {
        width: 188px;
        height: 68px;
    }

    .site-header__menu {
        width: 20px;
        height: 20px;
    }

    .site-header__location {
        padding: 7px 45px;
        font-size: 19px;
        border-radius: 50px;
    }

    .site-header__tel {
        font-size: 17px;
    }

    .site-header__select {
        padding: 4px 9px;
        font-size: 16px;
    }

    .nav {
        max-width: 380px;
        width: 100%;
        transform: translateX(300px);
    }

    .hero__items {
        max-width: 300px;
        width: 100%;
    }

    .hero__textbox {
        max-width: 300px;
        width: 100%;
    }

    .hero__heading {
        font-size: 32px;
    }

    .hero__bookmark-btn {
        padding: 5px 30px !important;
    }

    .hero__textbox {
        margin-bottom: 25px;
    }

    .hero__text {
        font-size: 16px;
    }

    .hero__btn {
        padding: 7px 30px;
        font-size: 15px;
    }

    .modal-content {
        max-width: 460px;
        width: 100%;
    }

    .pizza-name {
        font-size: 20px;
        line-height: 22px;
    }

    .pizza-price {
        font-size: 18px;
        line-height: 20px;
    }

    .main-wrapper {
        margin: 150px 0;
    }

    .heading {
        font-size: 40px;
    }

    input {
        width: 360px !important;
        margin-bottom: 20px;
        padding: 24px 20px;
        font-size: 17px !important;
    }

    .form__btn {
        width: 170px !important;
        padding: 6px 10px;
        font-size: 16px;
    }

    .form__link {
        font-size: 20px;
    }
}

@media only screen and (min-width: 1200px) {
    .nav {
        /* margin-bottom: 100px; */
        padding: 30px 0;
        transform: translate(360px);
    }

    .nav__list {
        row-gap: 12px;
    }

    .hero__items {
        max-width: 360px;
        width: 100%;
    }
  
    .hero__img {
        width: 250px;
        height: 250px;
        transition: transform 0.5s ease;
    }
    
    .hero__img:hover {
        transform: scale(1.2);
    }

    .hero__textbox {
        max-width: 380px;
        width: 100%;
    }
}